@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #ffebf5; */

* {
  font-family: "Outfit", sans-serif;
}

input,
select,
textarea {
  border: 1px solid #c2c2c2;
  outline: #c586a5;
  border-radius: 4px;
}

.active {
  background-color: #ffebf5;

  color: #c585a5;
}
